#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Elograf
GenericName=Tool to launch voice dictation
Comment=Tool in systray to launch voice dictation
Exec=elograf
Icon=audio-input-microphone
Terminal=false
Type=Application
Categories=Accessibility;Utility;
Name[fr_FR]=Elograf
Comment[fr_FR]=Outil pour lancer la dictée depuis la boîte à miniatures
